# Load Subversion Apache Modules

LoadModule dav_module         modules/mod_dav.so
LoadModule dav_svn_module     modules/mod_dav_svn.so
LoadModule auth_basic_module   modules/mod_auth_basic.so
LoadModule authn_file_module   modules/mod_authn_file.so
LoadModule authz_user_module   modules/mod_authz_user.so

#
# Example configuration to enable HTTP access for a directory
# containing Subversion repositories, "/var/www/svn".  Each repository
# must be both:
#
#   a) readable and writable by the 'apache' user, and
#
#   b) labelled with the 'httpd_sys_content_t' context if using
#   SELinux
#

#
# To create a new repository "http://localhost/repos/stuff" using
# this configuration, run as root:
#
#   # cd {{ svn_path }}
#   # svnadmin create stuff
#   # chown -R apache.apache stuff
#   # chcon -R -t httpd_sys_content_t stuff
#

<Location {{ svn_url }}>
  DAV svn
  SVNAdvertiseV2Protocol Off
  SVNPath {{ svn_path }}repos/

  # Authentication: Basic
  AuthName "Subversion repository"
  AuthType Basic
  AuthBasicProvider file wsgi
  AuthUserFile /etc/svn-auth.htpasswd
  WSGIAuthUserScript {{ django_path }}/{{ django_app }}/wsgi.py

  # Authorization: Authenticated users only
  Require valid-user

</Location>
