[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com

[Service]
ExecStart=
ExecStart=/usr/bin/docker daemon --graph="{{ docker_image }}"

[Install]
WantedBy=multi-user.target
