init_config:

instances:
  - host: {{ delft3dgt_postgres_internal_hostname }}
    port: {{ databaseport }}
    username: {{ dddatabaseuser }}
    password: {{ dddatabasepass }}

    relations:
    - relation_regex: '.*'
    collect_function_metrics: true
