init_config:

instances:
  - host: localhost
    port: 5432
    username: datadog
    password: {{ lookup('password', '/tmp/dd_db_pass chars=letters,digits') }}

    relations:
    - relation_regex: '.*'
    collect_function_metrics: true
