apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: 2018-05-25T14:27:52Z
  name: {{ cluster_name }}
spec:
  api:
    loadBalancer:
      type: Public
  authorization:
    rbac: {}
  channel: stable
  cloudProvider: aws
  configBase: s3://{{ s3_kops_data.name }}/{{ cluster_name }}
  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-eu-west-1a
      name: a
    name: main
  - etcdMembers:
    - instanceGroup: master-eu-west-1a
      name: a
    name: events
  iam:
    allowContainerRegistry: true
    legacy: false
  kubernetesApiAccess:
  {% for cidr in access_cidr %}
    - {{ cidr }}
  {% endfor -%}
  networkID: {{ vpc_data.vpc.id }}
  kubernetesVersion: 1.9.3
  masterInternalName: api.internal.{{ cluster_name }}
  masterPublicName: api.{{ cluster_name }}
  networking:
    kubenet: {}
  sshAccess:
  {% for cidr in access_cidr %}
    - {{ cidr }}
  {% endfor -%}
  sshKeyName: {{ ssh_key_name }}
  subnets:
  - cidr: {{ subnet_cidr }}
    name: {{ aws_availability_zone }}
    type: Public
    zone: {{ aws_availability_zone }}
  topology:
    dns:
      type: Public
    masters: public
    nodes: public

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: 2018-05-25T14:27:52Z
  labels:
    kops.k8s.io/cluster: {{ cluster_name }}
  name: master-{{ aws_availability_zone }}
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: m3.medium
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-{{ aws_availability_zone }}
  role: Master
  subnets:
  - {{ aws_availability_zone }}

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: 2018-05-25T14:27:52Z
  labels:
    kops.k8s.io/cluster: {{ cluster_name }}
  name: nodes
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: c5.large
  maxSize: 20
  minSize: 0
  nodeLabels:
    kops.k8s.io/instancegroup: nodes
  role: Node
  subnets:
  - {{ aws_availability_zone }}
