CELERY_APP="delft3dcontainermanager"

# Worker settings
CELERYD_NODES="{{ celery_nodes }}"
CELERYD_OPTS="-Ofair"
CELERYD_LOG_FILE="/var/log/celery/%N.log"
CELERYD_STATE_DIR="/var/run/celery"
CELERYD_PID_FILE="/var/run/celery/%N.pid"

# Beat settings
CELERYBEAT_LOG_FILE="/var/log/celerybeat/celerybeat.log"
CELERYBEAT_STATE_DIR="/var/run/celerybeat"
CELERYBEAT_PID_FILE="/var/run/celerybeat/celerybeat.pid"
CELERYBEAT_LOG_LEVEL="INFO"
CELERYBEAT_SCHEDULE="/var/run/celerybeat/schedule"
