CELERY_APP="delft3dgtmain"

# Beat settings
CELERYBEAT_LOG_FILE="/var/log/celerybeat/celerybeat.log"
CELERYBEAT_STATE_DIR="/var/run/celerybeat"
CELERYBEAT_PID_FILE="/var/run/celerybeat/celerybeat.pid"
CELERYBEAT_LOG_LEVEL="INFO"
CELERYBEAT_SCHEDULE="/var/run/celerybeat/schedule"
PATH={{ django_virtualenv }}:/sbin:/bin:/usr/sbin:/usr/bin
SVN_USER={{ svn_accp_user }}
SVN_PASS={{ svn_accp_pass }}
