[Unit]
Description=Celery beat
After=network.target redis.target

[Service]
Type=simple
User=docker
Group=docker
EnvironmentFile=-/etc/sysconfig/celerybeat
Environment=VIRTUAL_ENV={{ django_virtualenv }}
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
WorkingDirectory={{ django_path }}
# run ExecStartPre as priviledged user and set up /var/run
PermissionsStartOnly=true
# ExecStartPre=-/usr/bin/mkdir ${CELERYBEAT_STATE_DIR}
# ExecStartPre=/usr/bin/chown -R docker:docker ${CELERYBEAT_STATE_DIR}

ExecStart={{ django_virtualenv }}/bin/celery worker \
    --app=${CELERY_APP} -Q beat --beat --pidfile=${CELERYBEAT_PID_FILE} \
    -l INFO --logfile=${CELERYBEAT_LOG_FILE} --schedule=${CELERYBEAT_SCHEDULE}

ExecStop=/bin/systemctl kill celerybeat.service

[Install]
WantedBy=multi-user.target
