awscli==1.11.1
botocore==1.4.59
cmocean==1.1
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
Cython==0.24.1
dask==0.11.0
decorator==4.0.10
docutils==0.12
futures==3.0.5
jmespath==0.9.0
mahotas==1.4.3
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.3
netCDF4==1.2.4
networkx==1.11
numpy==1.11.2
Pillow==3.4.1
pyasn1==0.1.9
pymorph==0.96
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.7
rsa==3.4.2
s3transfer==0.1.6
scikit-image==0.12.3
scipy==0.18.1
six==1.10.0
toolz==0.8.0