apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: {{ static_nodes.stack_outputs.NodeInstanceRole }}
      username: {{"system:node:{{EC2PrivateDNSName}}"}}
      groups:
        - system:bootstrappers
        - system:nodes
    - rolearn: {{ compute_nodes.stack_outputs.NodeInstanceRole }}
      username: {{"system:node:{{EC2PrivateDNSName}}"}}
      groups:
        - system:bootstrappers
        - system:nodes
  mapUsers: |
    - userarn: {{ aws_user.iam_user.user.arn }}
      username: {{ s3_user_name }}
      groups:
        - system:masters
