"""
Django provisionedsettings for delft3dcontainermanager project.

In here are all the settings which are dynamic on every
new provisioning run.
"""

BROKER_URL = 'redis://:{{ redis_passwd  }}@{{ redis_private_host }}:6379'
CELERY_RESULT_BACKEND = 'redis://:{{ redis_passwd  }}@{{ redis_private_host }}:6379'
ONCE_REDIS_URL = 'redis://:{{ redis_passwd  }}@{{ redis_private_host }}:6379/0'
