"""
Django provisionedsettings for delft3d project.

In here are all the settings which are dynamic on every
new provisioning run.
"""

DEBUG = {{ debug_setting }}
ALLOWED_HOSTS = ['{{ allowed_hosts }}']

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ lookup('password', '/tmp/djangosecretkey chars=ascii_letters,digits length=30') }}'

# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'djangodb',
        'USER': 'django',
        'PASSWORD': '{{ djangodbpass }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.9/howto/static-files/

STATIC_ROOT = '{{ django_static }}/'
MEDIA_ROOT = '{{ django_static }}/wf/'

WORKER_FILEDIR = '{{worker_filedir}}'

# S3 bucket
BUCKETNAME = '{{ project_name }}-results'

# redis connection
CELERY_BROKER_URL = 'redis://:{{ redis_passwd }}@127.0.0.1:{{ redis_port }}'
CELERY_RESULT_BACKEND = 'redis://:{{ redis_passwd }}@127.0.0.1:{{ redis_port }}'
CELERY_ONCE = {
  'backend': 'celery_once.backends.Redis',
  'settings': {
    'url': 'redis://:{{ redis_passwd }}@127.0.0.1:{{ redis_port }}/0',
    'default_timeout': 60 * 60
  }
}

CELERY_ONCE = {
  'backend': 'celery_once.backends.Redis',
  'settings': {
    'url': 'redis://:{{ redis_passwd  }}@127.0.0.1:6379/0',
    'default_timeout': 60 * 60
  }
}



# max number of simulations
MAX_SIMULATIONS = {{ max_simulations }}


# required for migrations (old architecture settings)
REPOS_URL = '{{ repos_url }}'
SVN_REV = '{{ svn_revision }}'
SVN_PRE_REV = '{{ svn_revision }}'
SVN_PROC_REV = '{{ svn_revision }}'
SVN_POST_REV = '{{ svn_revision }}'
SVN_EXP_REV = '{{ svn_revision }}'
DELFT3D_VERSION = '{{ delft3d_version }}'

# EMAIL backend

EMAIL_BACKEND = 'django.core.mail.backends.{{ email_backend }}.EmailBackend'
EMAIL_HOST = '{{ email_host }}'
EMAIL_PORT = {{ email_port }}
EMAIL_HOST_USER = '{{ email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ email_host_password }}'
EMAIL_USE_TLS = {{ email_use_tls }}
EMAIL_USE_SSL = {{ email_use_ssl }}
EMAIL_TIMEOUT = {{ email_timeout }}
EMAIL_SSL_KEYFILE = '{{ email_ssl_keyfile }}'
EMAIL_SSL_CERTFILE = '{{ email_ssl_certfile }}'
EMAIL_SUBJECT_PREFIX =  '{{ email_subject_prefix }} '
DEFAULT_FROM_EMAIL = '{{ default_from_email }}'
