"""
Django provisionedsettings for delft3d project.

In here are all the settings which are dynamic on every
new provisioning run.
"""

DEBUG = {{ debug_setting }}
ALLOWED_HOSTS = ['{{ allowed_hosts }}']

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ lookup('password', '/tmp/djangosecretkey chars=ascii_letters,digits length=30') }}'

# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'djangodb',
        'USER': 'django',
        'PASSWORD': '{{ djangodbpass }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.9/howto/static-files/

STATIC_ROOT = '{{ django_static }}/'

# delft3dworker
DELFT3D_IMAGE_NAME = '{{ delft3d_image_name }}'
POSTPROCESS_IMAGE_NAME = '{{ process_image_name }}'
PREPROCESS_IMAGE_NAME = '{{ process_image_name }}'
PROCESS_IMAGE_NAME = '{{ process_image_name }}'
EXPORT_IMAGE_NAME = '{{ process_image_name }}'
SYNC_CLEANUP_IMAGE_NAME= '{{ sync_cleanup_image_name }}'

# dummy workers
DELFT3D_DUMMY_IMAGE_NAME = 'dummy_simulation'
POSTPROCESS_DUMMY_IMAGE_NAME = 'dummy_postprocessing'
PREPROCESS_DUMMY_IMAGE_NAME = 'dummy_preprocessing'
PROCESS_DUMMY_IMAGE_NAME = 'dummy_processing'
EXPORT_DUMMY_IMAGE_NAME = 'dummy_export'

WORKER_FILEDIR = '{{worker_filedir}}'

# versions
REPOS_URL = '{{ repos_url }}'
SVN_REV = '{{ svn_revision }}'
DELFT3D_VERSION = '{{ delft3d_version }}'
SVN_PRE_REV = '{{ svn_revision }}'
SVN_PROC_REV = '{{ svn_revision }}'
SVN_POST_REV = '{{ svn_revision }}'
SVN_EXP_REV = '{{ svn_revision }}'

# redis connection
BROKER_URL = 'redis://:{{ redis_passwd  }}@127.0.0.1:{{ redis_port }}'
CELERY_RESULT_BACKEND = 'redis://:{{ redis_passwd  }}@127.0.0.1:{{ redis_port }}'

ONCE = {
  'backend': 'celery_once.backends.Redis',
  'settings': {
    'url': 'redis://:{{ redis_passwd  }}@127.0.0.1:{{ redis_port }}/0',
    'default_timeout': 60 * 60
  }
}

# max number of simulations
MAX_SIMULATIONS = {{ max_simulations }}
REQUIRE_REVIEW = {{ require_svn_review }}

# EMAIL backend

EMAIL_BACKEND = 'django.core.mail.backends.{{ email_backend }}.EmailBackend'
EMAIL_HOST = '{{ email_host }}'
EMAIL_PORT = {{ email_port }}
EMAIL_HOST_USER = '{{ email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ email_host_password }}'
EMAIL_USE_TLS = {{ email_use_tls }}
EMAIL_USE_SSL = {{ email_use_ssl }}
EMAIL_TIMEOUT = {{ email_timeout }}
EMAIL_SSL_KEYFILE = '{{ email_ssl_keyfile }}'
EMAIL_SSL_CERTFILE = '{{ email_ssl_certfile }}'
EMAIL_SUBJECT_PREFIX =  '{{ email_subject_prefix }} '
DEFAULT_FROM_EMAIL = '{{ default_from_email }}'
