Alias /static {{ django_static }}
<Directory {{ django_static }}>
    # SSLRequireSSL
    Require all granted
</Directory>

WSGIDaemonProcess {{ django_app }} python-path={{ django_path }}:{{ django_virtualenv }}/lib/python2.7/site-packages user={{ app_user }} group={{ app_user }} umask=0002 processes=1 threads={{ no_cpus_webserver }}
WSGIPythonPath {{ django_path }}:{{ django_virtualenv }}/lib/python2.7/site-packages
WSGIProcessGroup {{ django_app }}
WSGIScriptAlias / {{ django_path }}/{{ django_app }}/wsgi.py

<Directory {{ django_path }}/{{ django_app }}>
    # SSLRequireSSL
    <Files wsgi.py>
        Require all granted
        Header set Access-Control-Allow-Origin "*"
    </Files>
</Directory>
