Alias /static {{ django_static }}
<Directory {{ django_static }}>
    Require all granted
</Directory>

<Directory {{ django_path }}/{{ django_app }}>
    <Files wsgi.py>
        Require all granted
        Header set Access-Control-Allow-Origin "*"
    </Files>
</Directory>

WSGIDaemonProcess {{ django_app }} python-path={{ django_path }}:{{ django_virtualenv }}/lib/python2.7/site-packages user={{ app_user }} group={{ app_user }}
WSGIPythonPath {{ django_path }}:{{ django_virtualenv }}/lib/python2.7/site-packages
WSGIProcessGroup {{ django_app }}
WSGIScriptAlias / {{ django_path }}/{{ django_app }}/wsgi.py

Alias /files {{ results_folder }}
<Directory {{ results_folder }}>
    Require all denied
    Options -Indexes
</Directory>

# Subdirectories
<Directory {{ results_folder }}/*/>
    AuthType Basic
    AuthName "Delft3D GT Results Folder"
    Require valid-user
    AuthBasicProvider wsgi
    WSGIAuthUserScript {{ django_path }}/{{ django_app }}/wsgi.py
    Options +Indexes
</Directory>