#!/usr/bin/env bash

SVN_USER={{ svn_accp_user }}
SVN_PASS={{ svn_accp_pass }}

cd /data
if [ ! -d /data/svn ]; then
    echo "Make checkout of subversion repository $REPOS_URL revision $SVN_REV"
    svn checkout $REPOS_URL --revision=$SVN_REV --username=$SVN_USER --password=$SVN_PASS --depth immediates --no-auth-cache -q svn
    svn update --revision=$SVN_REV --username=$SVN_USER --password=$SVN_PASS --set-depth infinity --no-auth-cache -q svn/scripts svn/template
    echo "I'm updated"

    echo "writing svn info to svn-info.txt file"
    svn info /data/svn > /data/output/svn-info.txt

    echo "writing linux distro information to lsb-release.txt file"
    # use find to locate all /etc/*-release files (ignoring symlinks to prevent duplicate information) and cat it into lsb-release.txt file
    find /etc -name "*-release" -type f -exec cat {} \; > /data/output/lsb-release.txt

    echo "writing python version info to python-version.txt file"
    python -c "import sys; print(sys.version)" > /data/output/python-version.txt

    echo "copy python requirement info to requirements.txt file"
    cp /data/requirements.txt /data/output/requirements.txt

    echo "writing pip freeze to pip-packages.txt file"
    pip freeze > /data/output/pip-freeze.txt
else
    echo "Use existing checkout of subversion repository"
fi

echo "start python script"
for script in $@; do

    # Run scripts
    python $script

done

# by default we're not on amazon
# See, also for alternatives
# http://serverfault.com/questions/462903/how-to-know-if-a-machine-is-an-ec2-instance
EC2=0
if [ -f /sys/hypervisor/uuid ] && [ $(head -c 3 /sys/hypervisor/uuid) == "ec2" ]; then
    # introspect the machine
    EC2=1
fi


# Amazon specific code goes here
if [ "$EC2" == "1" ]
then
    if [ -z "$uuid" ]
    then
        echo "Failed to find $uuid on amazon, not sure where to put my files"
        echo "Make sure you set the uuid"
        exit 1
    fi
    # synchronize directory with on s3 (make sure you provision aws command lines (pip install aws-cli))
    # $folder starts with '/'
    aws s3 sync /data/output "s3://{{ bucket }}$folder" --quiet
fi
