#!/usr/bin/env bash

echo "Make checkout of subversion repository"
cd /data
svn checkout {{ repos_url }} --username=delft3dgt --password={{ svn_accp_pass }} --no-auth-cache svn
echo "I'm updated"
echo "start python script"
for script in $@; do
    python $script
done

