---
# tasks file for common
  - name: install epel repository
    become: yes
    yum: name=epel-release state=latest

  - name: upgrade local enviroment
    become: yes
    yum:  name=*
          update_cache=yes
          state=latest

  - name: install essential stuff
    become: yes
    yum:  name={{ item }}
          state=latest
    with_items:
          - vim
          - mc
          - mlocate
          - htop
          - lynx

  - name: Set timezone to Amsterdam
    become: yes
    file: src=/usr/share/zoneinfo/Europe/Amsterdam dest=/etc/localtime state=link force=yes

  - name: add delft3dgt user
    become: yes
    user: name={{ delft3duser }}
          state=present

  - name: add django project folder
    become: yes
    file: path={{ project_path }}
          state=directory
          mode=0755
          owner={{ delft3duser }}
          group={{ delft3duser }}