[Unit]
Description=SSL tunnel for network daemons
After=syslog.target

[Service]
ExecStart=/bin/stunnel /etc/stunnel/redis.conf
ExecStop=/bin/kill -9 $(pgrep stunnel)
ExecStatus=/bin/pgrep stunnel
Type=forking

[Install]
WantedBy=multi-user.target
